/* global */

html, body {
  height: 100%;
}

body {
  background-color: #f5f8fa;
}

.margin__bottom__small {
  margin-bottom: 10px;
}

.margin__top__small {
  margin-top: 10px;
}


/* start block */

.block {
  background: #fde428;
  height: 100px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.block:hover {
  background: #002e5b;
  color: white;
}

/* end block */

/* button */
.btn-primary {
  color: #fff;
  background-color: #002e5b;
  border-color: #002142;
}

  .btn-primary:hover {
    background-color: #fde428;
    color: white;
    border: #fde428
  }

/* end button*/

/* table */

.table__title {
  color: #002e5b;
  font-weight: 700;
  font-size: 1.5em;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

tr {
  cursor: pointer;
}

td {
  color: black;
  border-right: 1px solid #eaeaea;
}

/* end table */

/* start header */
.header {
  background: #002e5b;
  height: 100px;
  color: white;
  margin-bottom: 15px;
}

/* end header */


/* start shared */
h1 {
  font-weight: 300;
  font-size: 50px;
  text-transform: uppercase;
}

.container__margin__top {
  margin-top: 50px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* end shared*/

/* start navbar */

.navbar {
  margin-bottom: 0px;
}

/* end navbar */

/* strips */
.strip {
  height: 10px;
}

.strip__top {
  background: #fde428;
}

.strip__footer {
  background: #002e5b;
}

/* end strips */

/* footer */

#app {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fde428;
}

#footer p {
  color: black;
}

/* end footer */

/* panel */

.panel-default {
  border-color: #e6e6e6;
}

.panel-heading {
  color: #333333;
  background-color: #fff;
  border-color: #e6e6e6;
}

.panel-primary > .panel-heading {
  background-color: #002e5b;
}

.panel-primary {
  border-color: #002e5b;
}

/* end panel */