<template>
  <div class="header center">
    <h1>Hulpvragen</h1>
  </div>

  <div class="container">
    <a class="btn btn-primary margin__bottom__small" route-href="route: newHelpQuestion">
        Maak hier uw nieuwe hulpvraag
    </a>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-md-3 table__title">
                    Naam
                  </th>

                  <th class="col-md-3 table__title">
                    Email
                  </th>

                  <th class="col-md-3 table__title hidden-xs hidden-sm">
                    Urgentie
                  </th>

                  <th class="col-md-3 table__title hidden-xs hidden-sm">
                    Vraag
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr repeat.for="question of questions" click.delegate="link($event, question)">
                  <td class="col-md-4">
                    ${question.helpSeeker}
                  </td>

                  <td class="col-md-3">
                    ${question.email}
                  </td>

                  <td class="col-md-3 hidden-xs hidden-sm">
                    <span class="label label-danger" if.bind="question.urgent == 0">Hoog</span>
                    <span class="label label-warning" if.bind="question.urgent == 1">Gemiddeld</span>
                    <span class="label label-info" if.bind="question.urgent == 2">Laag</span>
                  </td>

                  <td class="col-md-3 hidden-xs hidden-sm">
                    ${question.question.slice(0, 10)}....
                  </td>

                  <td class="hidden-xs hidden-sm">
                    <i class="material-icons" click.delegate="destroy($event, question)">&#xE872;</i>
                    <i class="material-icons" click.delegate="editUrl($event, question)">&#xE254;</i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>