<template>
  <div class="header center">
      <h1>Dashboard</h1>
  </div>

  <div class="container container__margin__top">
      <div class="row">
          <a route-href="route: helpQuestions" class="col-md-6 center block">
              <h1>Hulpvraag</h1>
          </a>

          <a route-href="route: chat" class="col-md-6 center block">
              <h1>Chat</h1>
          </a>
      </div>

    <div class="row">
        <div class="col-md-6 center block">
            <h1>Account</h1>
        </div>

      <a route-href="route: agenda" class="col-md-6 center block">
        <h1>Agenda</h1>
      </a>
    </div>

    <div class="row">
        <a route-href="route: personen"  class="col-md-12 center block">
            <h1>Personen</h1>
        </a>
    </div>
</div>
</template>