<template>
  <div class="container">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Naam</th>
        <th>Tijd</th>
        <th>status</th>
        <th>optie</th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="appointment of appointments">
        <td class="col-md-2">
          ${appointment.name}
        </td>
        <td class="col-md-8">
          ${appointment.date}
        </td>
        <td class="col-md-2">
          <span if.bind="appointment.accepted">Geaccepteerd</span>
          <span if.bind="!appointment.accepted">Niet geaccepteerd</span>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" click.delegate="changeStatus(appointment)">
            <span if.bind="appointment.accepted">Weigeren</span>
            <span if.bind="!appointment.accepted">Accepteren</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>